남은 자료구조 : set, dictionary

## Dictionary
- 영어 사전
  - 단어: 뜻 (:콜론으로 a,b가 짝)
  - 키 : 값
  - **순서가 없다** -> *인덱싱, 오프셋 불가능
  - "키로 값을 찾는다 (단어로 -> 뜻을 찾듯이)
    - **`키는 중복되지 않는 고유한 값`**
  - 가변 타입: 수정, 삭제, 추가, 가능
  - 타입: dict
  - 형변환: dict()
  - 중괄호 사용 {}, 콤마로 구분함
  - 값에 다양한 자료구조가 올 수 있다
    - a: 1, a: [1, 2, 3, 4]*

In [ ]:
# 순서가 있고, 인덱싱이 가능
a = [1, 2, 3]
a[0]

1

빈 딕셔너리 선언

In [ ]:
empty = dict() #1
emty = {} #2
# set {}
empty = {} # set이 아닌 dict type
empty = set() # set 선언하려면, 초기화
type(empty)

set

값이 있는 딕셔너리 선언

In [ ]:
a = {1,2,3} #set
print(type(a))
a = {1:'apple',2:'banana',3:'kiwi'} #dict
type(a)

<class 'set'>

dict

In [ ]:
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [ ]:
#2 다른 선언방법
b = {'':'','':'','':''}
b = dict(apple='a', banana='b', kiwi='c') # 키 값에 '' 따옴표가 필요없음
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

출석부로 딕셔너리 만들기
이름, 학번, 학과
** 어떤 것을 키로 만들지 고민**
- james 202201 경제학과
- laura 202203 스페인어과
- louis 202202 컴공과

`키는 중복이 안됨`
무엇을 키로 잡을까를 고민

In [ ]:
# attendance_b = {'':[],'':[],'':[]}
attendance_b = {202201: ['james', '경제학과'], 202203: ['laura','스페인어과'], 202202: ['louis', '컴공과']}
attendance_b

{202201: ['james', '경제학과'],
 202202: ['louis', '컴공과'],
 202203: ['laura', '스페인어과']}

값에 다양한 자료구조를 받는 이유는 `하나하나 활용하기 위해`
 - key :list -> [이름정보, 학과정보] -> 0번째, 1번째로 접근

### 형변환

In [ ]:
# 리스트가능
#key & value 라는 pair가 있으므로
ex1 = [[1,2], [3,4], [5,6]] # 형변환도 pair가 있을때만 가능
dict(ex1)

{1: 2, 3: 4, 5: 6}

In [ ]:
# 튜플도 가능
ex2 = [(1, 2), (2, 3), (1, 3)] # 키가 동일하다면 마지막것만 남고 지원짐
#키는 중복이 불가능하기 때문에
dict(ex2)

{1: 3, 2: 3}

In [ ]:
# 문자가능
ex3= ['ab', 'bc','cd'] # but 두자리만 가능 -> pair 존재
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경

In [ ]:
python = { #성: 이름
    'Champinon':'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Johnes':'Terry',
    'Palin':'Michael'
}

접근 -> dictionary_name[key]
- dict[key] : 할당안하면 값 찾기
- dict[key] = values -> 값 추가 & 변경

In [ ]:
python['Idle'] # []key -> value

'Eric'

In [ ]:
python['Hwa']
#없는 값은 오류 발생

In [ ]:
# key -> 다른 값 넣어주기
python['Hwa'] = 'Chole' # 추가 (없는 값)
python['Idle'] = "James" # 변경 (있는 값)
python

{'Champinon': 'Graham',
 'Cleese': 'John',
 'Hwa': 'Chole',
 'Idle': 'James',
 'Johnes': 'Terry',
 'Palin': 'Michael'}

In [ ]:
# in mebership
'Hwa' in python

True

In [ ]:
# get()
python.get('Hwa', 0) # 없는 키는 None 반환
python.get('Lee', 0) # 반환값 설정 가능

0

### 전체조회
- keys()
- values()
- items()

In [ ]:
list(python.keys())

['Champinon', 'Cleese', 'Idle', 'Johnes', 'Palin', 'Hwa']

In [ ]:
python.values() # 사용하고 싶다면 리스트로 형변환 해줘야 함

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chole'])

In [ ]:
python.items() # (키, 값) 튜플형태로 => 순회할때 많이 씀

dict_items([('Champinon', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Johnes', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chole')])

In [ ]:
for k, v in python.items(): # list comprehension
  print(f'{k} = {v}')

Champinon = Graham
Cleese = John
Idle = James
Johnes = Terry
Palin = Michael
Hwa = Chole

In [ ]:
[(k,v) for k, v in python.items()]

[('Champinon', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Johnes', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chole')]

In [ ]:
[k[1] for k in python.items()] # 튜플의 형태로 저장되어있으므로 각각의 원소에 인덱스로 접근이 가능함

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chole']

In [ ]:
[k[0] for k in python.items()]

['Champinon', 'Cleese', 'Idle', 'Johnes', 'Palin', 'Hwa']

In [ ]:
# dict.items() -> 0=key, 1=value

In [ ]:
# 아무것도 없이 돌 경우에는 키값만 나옴
[k for k in python] #keys

['Champinon', 'Cleese', 'Idle', 'Johnes', 'Palin', 'Hwa']

### ex
- animal: num_leg 딕셔너리 만드시오.

In [ ]:
animals = 'cat snake monkey ant spider'.split() #-> key
legs = 4, 0, 2, 4, 8 # arry -> value

리스트 두개를 하나의 딕셔너리로 만들기

In [ ]:
dictionary = dict()
for k, v in zip(animals, legs):
  dictionary[k] = v

In [ ]:
dictionary

{'ant': 4, 'cat': 4, 'monkey': 2, 'snake': 0, 'spider': 8}

In [ ]:
#2
dictionary={}
for i in range(len(animals)):
  dictionary[animals[i]]= legs[i]

In [ ]:
dictionary

{'ant': 4, 'cat': 4, 'monkey': 2, 'snake': 0, 'spider': 8}

In [ ]:
# {animals[i]=legs[i] for i in range(len(animals))}
a = {k for k in zip(animals, legs)}
dict(a)

{'ant': 4, 'cat': 4, 'monkey': 2, 'snake': 0, 'spider': 8}

Q. pythons에서 성: 이름, 성첫글자만, 이름은 글자수로 이루어진 튜플 (성, 이름) 리스트로 반환하기
- dict comprehension 쓰지 말기

In [ ]:
{(k[0], len(v)) for k, v in python.items()}

{('C', 4), ('C', 6), ('H', 5), ('I', 5), ('J', 5), ('P', 7)}

In [ ]:
dictionary = dict()
for x, y in python.items():
  dictionary[x] = y
  tuple(dictionary)

In [ ]:
dictionary.items() # how : -> dict로 형변환?

dict_items([('Champinon', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Johnes', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chole')])

In [ ]:
# new_python = dict()
# for k in python.keys():
#   new_python[k[0]] = len(python[k])

In [ ]:
# new_python

{'C': 4, 'H': 5, 'I': 5, 'J': 5, 'P': 7}

In [ ]:
# a = {(k[0], len(v)) for k, v in python.items()}
# dict(a)

{'C': 6, 'H': 5, 'I': 5, 'J': 5, 'P': 7}

튜플을 안은 리스트

In [ ]:
new_python =[]
for k, v in python.items():
  new_python.append((k[0], len(v)))

In [ ]:
new_python

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [ ]:
[(k[0], len(v)) for k, v in python.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

### 값 수정, 삭제, 복제, 비교
(딕셔너리 병합)

In [ ]:
python

{'Champinon': 'Graham',
 'Cleese': 'John',
 'Hwa': 'Chole',
 'Idle': 'James',
 'Johnes': 'Terry',
 'Palin': 'Michael'}

In [ ]:
others = {
    'Marx':'Groucho',
    'Howard':'Moe'
}
others

{'Howard': 'Moe', 'Marx': 'Groucho'}

update() -> list:extend()

In [ ]:
python.update(others)

In [ ]:
python # 있는 키면 마지막에 있는 키 기준 업데이트

{'Champinon': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Hwa': 'Chole',
 'Idle': 'James',
 'Johnes': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [ ]:
#py 3
{**others, **python}

{'Champinon': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Hwa': 'Chole',
 'Idle': 'James',
 'Johnes': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [ ]:
# 삭제
del python['Hwa']
python

{'Champinon': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Idle': 'James',
 'Johnes': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [ ]:
del python{'Lee'}

SyntaxError: ignored

In [ ]:
python.pop('Marx')

'Groucho'

In [ ]:
python.pop('Lee', 0) # 없으면 예외는 나지만, 예외시 출력 값을 지정할 수 있음

0

In [ ]:
# 전체 삭제
python.clear()
python = {}

In [ ]:
python

{}

### 복제
- 할당: b=a (같은 주소)
- 창조, 얕은 복사: c = a.copy()
- 깊은 복사
(dictionary도 가변객체 literable)

In [ ]:
a = {1:1, 2:2, 3:3}
b= a
a[1]=35
a, b

({1: 35, 2: 2, 3: 3}, {1: 35, 2: 2, 3: 3})

In [ ]:
c = a.copy()
a[2] = 22
a,c

({1: 35, 2: 22, 3: 3}, {1: 35, 2: 2, 3: 3})

In [ ]:
a = {1: [1,2,3], 2: [2, 3, 4]}
d = a.copy()
# 이차원 이상으로 갔을 경우에는 또 똑같아지는 문제 -> 얕은 복사의 문제
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [ ]:
import copy
e = copy.deepcopy(a)
a[1][1] = 99
a, e

({1: [100, 99, 3], 2: [2, 3, 4]}, {1: [100, 99, 3], 2: [2, 3, 4]})

#### 비교
- 같다, 다르다만 된다.

In [ ]:
a == b

False

In [ ]:
a != b

True

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성=pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
  - del dict1['태양'] (x)
4. sorted이용해서 값 정렬하기 
   - i) key 
   - ii) value

1

In [ ]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercy venus earth mars jupiter saturn uranus neptune'.split()

In [ ]:
dictionary = dict()
for k, e in zip(solar_kor, solar_eng):
  if k[::-1].startswith('성'):
    dictionary[k] = e

In [ ]:
dictionary

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercy',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
#1
keys = list(dictionary.keys())
keys.sort()
sorted_dictionary = dict()
for k in keys:
  sorted_dictionary[k] = dictionary[k]

In [ ]:
sorted_dictionary

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercy',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
text = '월화수목금토일'
text[:-2:-1]

'일'

2

In [ ]:
dictionary = {k:v for k, v in zip(solar_kor, solar_eng) if k[:-2:-1] == '성'}

In [ ]:
dictionary

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercy',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
kor_eng = list(dictionary.items())

In [ ]:
# keys = sorted([w for w in kor_eng[0]])
[w[0] for w in kor_eng].sort()

In [ ]:
kor_eng

[('수성', 'mercy'),
 ('금성', 'venus'),
 ('화성', 'mars'),
 ('목성', 'jupiter'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('해왕성', 'neptune')]

3

In [ ]:
# dict_ex = dict([[x, y] for x, y in zip(solar_kor, solar_eng)])
# dict_ex['명왕성'] = 'pluto'
# for i in list(dict_ex.keys()):
#   if not i.endswith('성'):
#     dict_ex.pop(i)
# sorted(dict_ex)

system = dict()
for k, v in zip(solar_kor, solar_eng):
  system[k] = v

system

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercy',
 '지구': 'earth',
 '천왕성': 'uranus',
 '태양': 'sun',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
system['명왕성'] = 'pluto'
system

{'금성': 'venus',
 '명왕성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercy',
 '지구': 'earth',
 '천왕성': 'uranus',
 '태양': 'sun',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
dict([(k, system[k]) for k in system if k.endswith('성')])

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercy',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
dict([(k, v) for k, v in system.items() if k.endswith('성')])

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercy',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
import operator
dict_sorted = sorted(system.items(), key=operator.itemgetter(1),reverse=True)

In [ ]:
dict(dict_sorted)
# dictionary = {}
# for value, key in dict_sorted:
#   dictionary[value] = key

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercy',
 '지구': 'earth',
 '천왕성': 'uranus',
 '태양': 'sun',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

### 컴프리헨션

In [ ]:
letter = 'apple'
# a: 1, p: 2
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'e': 1, 'l': 1, 'p': 2}

In [ ]:
# 단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
# vowels 순회

In [ ]:
{w:word.count(w) for w in word if w in vowels} #1

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [ ]:
{ch:word.count(ch) for ch in vowels if ch in word} #2

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [ ]:
#set
{w for w in word}

{'a', 'e', 'i', 'm', 'n', 'o', 'p', 't'}

In [ ]:
{w: word.count(w) for w in set(word)} # set(word) **

{'a': 2, 'e': 1, 'i': 1, 'm': 1, 'n': 1, 'o': 4, 'p': 1, 't': 1}

In [ ]:
{w: word.count(w) for w in set(word) if w in vowels} #2-2

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [ ]:
{k: v for k, v in system.items()}

{'금성': 'venus',
 '목성': 'jupiter',
 '수성': 'mercy',
 '지구': 'earth',
 '천왕성': 'uranus',
 '태양': 'sun',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

sorting

In [ ]:
sorted(system.items(), key=fx)

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercy'),
 ('해왕성', 'neptune'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [ ]:
def fx(x):
  return x[1]

In [ ]:
sorted(system.items(), key=lambda x: x[1])

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercy'),
 ('해왕성', 'neptune'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

## Set
- dictionary에서 key만 있는 것 -> "중복이 없다"
- 집합 -> 교집합, 합집합, 차집합, ..
  - 이용해야 할 일이 있을때
- bag, 인덱싱도 없다. (순서, 중복 X)

In [ ]:
# 초기화
empty = set()
empty

set()

In [ ]:
# 값이 있을때
a = {1, 2, 3}
a

{1, 2, 3}

In [ ]:
# 선언이자 형변환
a = set((1, 2, 3))
a

{1, 2, 3}

In [ ]:
#오류 a = set(1,2,3) -> 안이 시퀀스이기 때문에 리스트나, 튜플로 묶어줘야 함

In [ ]:
#추가
a.add(4)
a

{1, 2, 3, 4}

In [ ]:
#삭제
a.remove(4)
a

{1, 2, 3}

In [ ]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhatten': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}
type(drinks)

dict

- in membership
  - vodka가 포함된 술 출력하기
  - vodka는 있지만 cream, vermouth 없는 술 출력하기

In [ ]:
def func(x):
  return list(x[1])

In [ ]:
drinks = {w[0]:func(w) for w in drinks.items()}
drinks

{'black russian': ['kahlua', 'vodka'],
 'manhatten': ['rye', 'bitters', 'vermouth'],
 'martini': ['vodka', 'vermouth'],
 'screwdriver': ['vodka', 'orange juice'],
 'white russian': ['kahlua', 'cream', 'vodka']}

1

In [ ]:
# {k for k in drinks.items()} 오류 []랑 달리
# {k:v for k, v in drinks.items()}
[k[0] for k in drinks.items() if 'vodka' in k[1]]

['martini', 'black russian', 'white russian', 'screwdriver']

2

In [ ]:
def f(e):
  return e[0]

In [ ]:
element = {'cream', 'vermouth'}

In [ ]:
[k[0] for k in drinks.items() if not k[1] & element and 'vodka' in k[1]]

['black russian', 'screwdriver']

In [ ]:
# [k[0] for k in drinks.items() if 'vodka' in k[1] and not ('cream').union('vermouth') in v]

In [ ]:
# set을 활용해서 바꾸기 (set의 특성)
for k, v in drinks.items():
  if 'vodka' in v and not ('cream' in v) | ('vermouth' in v):
    print(k)

black russian
screwdriver

In [ ]:
[k[0] for k in drinks.items() if 'vodka' in k[1] and not ('cream' in k[1]) | ('vermouth' in k[1])]

['black russian', 'screwdriver']

set의 특성
- 기호로, 문자로
  - difference
  - union
  - intersection

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 | intersection
a.intersection(b)
a & b
# 합집합 | union
a.union(b)
a | b
# 차집합 | difference
a.difference(b)
a - b, b - a #방향존재, 결과값다름

({1}, {4})

In [ ]:
for k, v in drinks.items():
  if v & {'vodka'} and not v & {'cream', 'vermouth'}:
    print(k)

black russian
screwdriver

In [ ]:
for k, v in drinks.items():
  if 'vodka' in v and not v & {'cream', 'vermouth'}:
    print(k)

black russian
screwdriver

In [ ]:
for k, v in drinks.items():
  if 'vodka' in v and not v.intersection(element):
    print(k)

black russian
screwdriver

In [ ]:
#issubset

set comprehension

In [ ]:
{s for s in range(5)} # -> 여기에 value를 넣으면 딕셔너리 컴프리헨션 !!

{0, 1, 2, 3, 4}

In [ ]:
# frozenset: 가변객체 -> 불변
set([1, 2])
frozenset([1,2])

frozenset({1, 2})