In [1]:
# 상속관계: is - a 관계
class Person:
  def greeting(self):
    print('안녕하세요')

class Student(Person):
  def study(self):
    print('공부하기')

In [3]:
# 포함관계 : has -a 관계
class Person:
  def greeting(self):
    print('안녕하세요')

class PersonList:
  def __init__(self):
    self.person_list = []
  
  def append_person(self, person):
    self.person_list.append(person)

In [2]:
class Customer(Person):
  pass

class Store:
  def __init__(self, customer, item, item_list):
    self.customer = customer
    self.item = item
    self. item_list = (self.item.name, self.item.price)


class Item:
  def __init__(self, name, cnt, price):
    self.name = name
    self.cnt = cnt
    self.price = price

class Seller:
  pass

In [4]:
class Inventory:
  def __init__(self):
    self.opend = False
    self.item_space = []

  def open(self):
    self.opend = True
    print('inventory are now opend. You can put sth else')
  
  def put(self, something):
    if self.opend == True:
      self.item_space.append(something)
      print('you put item inventory')
    else:
      print('please open inventory first')

  def close(self):
    self.opend= False
    print('close the inventory')


class Weapone:
  pass

sword = Weapone()
item_bag = Inventory()
item_bag.open()

item_bag.put(sword)

print('item inside the inventory:', item_bag.item_space)

item_bag.close()

inventory are now opend. You can put sth else
you put item inventory
item inside the inventory: [<__main__.Weapone object at 0x7f7acc79ef10>]
close the inventory

### 매직 메소드 
- special method
- __<name>__
- str, repr

In [5]:
class Customer(object):
  def __init__(self, name):
    self.name = name

  def __str__(self): # 오버라이딩 (object 상속)
    # print() 함수로 나온 출력값을 변경하는 것
    return self.name

  def __repr__(self): #객체에 대한 표현
    # 설정을 안하면 __str__과 동일함
    # 인스턴트를 출력하는 방식 -> 사용자가 이해하는 객체의 모습을 표현
    return f'Customer({self.name})'

c = Customer('Kim')

In [6]:
c
# type, 메모리 주소 -> repr -> 객체정보 직관적

Customer(Kim)

In [7]:
print(c)

Kim

In [8]:
repr(c)

'Customer(Kim)'

In [9]:
str(c)

'Kim'

In [ ]:
class Customer:
  def __init__(self, name):
    self.name = name

  def __str__(self):
    return self.name

  def __repr__(self):
    return f'Customer({self.name})'

c = Customer('Lee')

In [ ]:
c

Customer(Lee)

In [ ]:
print(c)

Lee

### NamedTuple, DataClass
- 객체보다 효율적임(간단한 속성만 가진 클래스인 경우 활용)
- 딕셔너리의 키처럼 사용이 가능함
- 불변 객체임

In [ ]:
from collections import namedtuple

In [ ]:
Customer = namedtuple('Customer', 'name age')
a = Customer('lee', 44)
a.name, a.age

('lee', 44)

In [ ]:
from dataclasses import dataclass
# 3.7 이상에서만

In [ ]:
@dataclass
class Customer2:
  name:str
  age:int

b =Customer2('hong', 55)

In [ ]:
b.name, b.age

('hong', 55)

### 함수 
- *, **
- 일급객체
- 내부함수, 클로저
- 익명함수
- 제너레이터
- 재귀함수

asterisk: *

In [10]:
def print_arg(*args): # 여러개의 인자 => 패킹
  print(args)

print_arg(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
def print_arg(*args): # 1. 여러개의 인자 => packing
  print(*args) #2. unpacking

print_arg(1, 2, 3, 4, 5, 6)

1 2 3 4 5 6

In [ ]:
def print_more(num1, num2, *args):
  print(num1, num2)
  print(*args, 'optional')

print_more(1, 3)

1 3
optional

In [ ]:
empty = list(range(10))
print(*empty)

0 1 2 3 4 5 6 7 8 9

In [ ]:
# 행렬, 테이블 데이터
matrix = [
          [1, 2],
          [3, 4],
          [5, 6]
]

for item in zip(*matrix):
  print(item)

(1, 3, 5)
(2, 4, 6)

In [ ]:
for item in zip([1,2], [3,4], [5,6]):
  print(item)

(1, 3, 5)
(2, 4, 6)

In [ ]:
# 키워드 전용 함수 선언시 사용
def print_data(data, *, start, end):
  for item in data[start:end]:
    print(item)

# key_word argument
print_data(empty, start=0, end=4)

#positional argument
print_data(empty, 0, 4)

0
1
2
3

#### kargs: **
- key argument에서 혼란이 오는 경우 때문

In [ ]:
# kargs: **
def print_kargs(**kargs): # key:value => dictionary로 반환
  kargs['wine'] = 'crianza'
  print(kargs)
  #print(**kargs) => unpacking 기능은 없음

print_kargs(white='crianza', drink='water')

{'white': 'crianza', 'drink': 'water'}

In [ ]:
for wine in ['abernet', 'crianza', 'shiraz']:
  print_kargs(wine=wine, drink='water')

{'wine': 'abernet', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'shiraz', 'drink': 'water'}

In [ ]:
def print_all(num1, num2, *args, **kargs):
  print(num1, num2)
  print(sum(args))
  print(kargs)

print_all(1, 2, 3, 4, 5, 6, num=4)

1 2
18
{'num': 4}

In [11]:
# keyword 전용 인수가 있는 이유
def print_all(num1, num2, *args, **kargs):
  print(num1, num2)
  print(sum(args))
  print(kargs)

print_all(1, 2, 3, 4, 5, 6, num1=4, num2=5)

TypeError: ignored

In [12]:
# key dictionary
# dictionary join
a = {1: 'a', 2:'b'}
b = {2: 'c', 3:'d'}
c = {**a, **b}

In [13]:
c

{1: 'a', 2: 'c', 3: 'd'}