In [ ]:
# 여러이름 동시에 할당
two = deux = dos = 2 # dos -> deux ->two (순서)
two

2

In [ ]:
# integer은 불변객체이므로
two = 4
print(two, deux)

4 2

In [ ]:
# 저장하는 공간 (주소)
id(two), id(deux)

(94856980736608, 94856980736544)

In [ ]:
# 리스트는 가변객체이므로
p = [1,2,3]
q = p
p,q

([1, 2, 3], [1, 2, 3])

In [ ]:
id(p), id(q)

(140346545704864, 140346545704864)

In [ ]:
p[0]=9
p, q

([9, 2, 3], [9, 2, 3])

In [ ]:
id(p), id(q) # id는 그대로

(140346545704864, 140346545704864)

###좋은 변수명
- 간결하고 명확한 이름
- 의미가 담겨야 함. 
a, b, c, ..
- 코드에는 의미가 담기고 주석에는 의도가 담긴다.
  - 예: the number of students
    n< the_number_of_students < num_students
    - 카멜 표기법: numStudents

###자료형 변환, 형 변환
- str(<변환할 값>), int(), float(), bool()

In [ ]:
a = 10
# str()
str(a)

# float
float(a)

# bool
bool(a) # 어떤 값이 False로 변환이 되는지만 주의

True

주의할 점1: float -> int

In [ ]:
x = 10.7 # 소수점 버림
int(x)

10

In [ ]:
y = 19.8
# 결과가 다를 수 있다는 점 주의
print(int(x + y))
print(int(x) + int(y))

30
29

주의할 점2: str -> int/float

In [ ]:
i = '10'
int(i), float(i)

(10, 10.0)

In [ ]:
j= '10,7' # float로 바뀔 것이라고 예상되는 변수를 바꾸면 에러
int(j)

### 꿀팁 print()

In [ ]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) # space X, |n
print(dog, cat, lion) # space 0,|n

dogcatlion
dog cat lion

In [ ]:
print(dog, cat, lion, sep=' ', end='\n') # default
print(dog, cat, lion, sep = '/', end='\n\n')
print('EOL')

dog cat lion
dog/cat/lion

EOL

In [ ]:
#1
print("My favorite animal is", dog)

#2
print(f"My favorite animal is {dog}.")

My favorite animal is dog
My favorite animal is dog.

코드 줄이 짧을 때 ;(semicolon)을 이용해 한 줄로 쓸 수 있다.

In [ ]:
dog = 'dog' ; cat = 'cat'; lion = 'lion'
print(dog)

dog

## Ch02. Variable
- string
- float
- integer
- boolean

In [ ]:
celsius = float(input("섭씨를 입력해주세요: "))
fahrenheit = celsius * 1.8 + 32
print(f"화씨는 {fahrenheit}입니다.")

섭씨를 입력해주세요: 23
화씨는 73.4입니다.

In [ ]:
name = input("이름을 입력해주세요: ")
address = input("주소를 입력해주세요: ")
weight = float(input("물건 무게을 입력해주세요: "))
price = weight * 5
sum = 3000 + price

print("==택배 정보==", f"수취인 성명: <{name}>", f"수취인 주소:<{address}>", "배송비: 3000원", f"물건비용:<{price}>원", f"총 합계:<{sum}>원" , sep = '\n')

이름을 입력해주세요: 박지완
주소를 입력해주세요: 서울
물건 무게을 입력해주세요: 100
==택배 정보==
수취인 성명: <박지완>
수취인 주소:<서울>
배송비: 3000원
물건비용:<500.0>원
총 합계:<3500.0>원

#### 지수표현
- e, E 둘다 가능하다.
- 앞부분은 float, int
- 뒷부분은 int만 온다.
  - 양수면 0 앞으로 
  - 음수면 0 뒤로 (소수점)

In [ ]:
1.0e6 # float

1000000.0

In [ ]:
# 0.000789 -> 지수표현
7.89e-4
789e-6

0.000789

### 'input()' 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 문자열로 인식이 된다. 
- 입력 받은 값을 변수에 담아서 사용한다. 안그러면 사라짐.
- 숫자일 경우 형 변환한다.

In [ ]:
input("Hello") # 문자열로 인식

Hellohi

'hi'

In [ ]:
int(input('나이가 어떻게 되세요? ')) # 형 변환

나이가 어떻게 되세요? 55

55

- 변수에 할달하는 방법

In [ ]:
#1. 
age = input('나이가 어떻게 되세요? ')

나이가 어떻게 되세요? 55

In [ ]:
#2.
print("나이가? ")
age = input()

나이가?
22

#### Quiz (1)
 - 섭씨를 입력받아서 화씨로 변환하기
 - "섭씨*1.8 + 32 = 화씨"

In [ ]:
celsius = float(input("섭씨를 입력해주세요: "))
fahrenheit = celsius * 1.8 + 32
print(f"화씨는 {fahrenheit}입니다.")

섭씨를 입력해주세요: 23
화씨는 73.4입니다.

In [ ]:
name = input("이름을 입력해주세요: ")
address = input("주소를 입력해주세요: ")
weight = float(input("물건 무게을 입력해주세요: "))
price = weight * 5
sum = 3000 + price

print("==택배 정보==", f"수취인 성명: <{name}>", f"수취인 주소:<{address}>", "배송비: 3000원", f"물건비용:<{price}>원", f"총 합계:<{sum}>원" , sep = '\n')

이름을 입력해주세요: 박지완
주소를 입력해주세요: 서울
물건 무게을 입력해주세요: 100
==택배 정보==
수취인 성명: <박지완>
수취인 주소:<서울>
배송비: 3000원
물건비용:<500.0>원
총 합계:<3500.0>원

##Cn03. Numbers

### boolean 
- 형 변환할 때 True, False인지 기억하라
  - '', None, 0, ..
- 조건식에서 많이 쓴다.예) 만역 이 조건이 True라면, ..

In [ ]:
bool(1)

True

In [ ]:
bool('')

False

### integer
- 소수점 없음
- default 양수, 음수는 앞에 -를 붙인다. 
- 숫자 앞에는 0을 붙일 수 없다. 예) 05
  - 예외적으로 0bxxx, => 다른 진수 표현법
- 리터럴: 4
- 공백이 많아도 무시가 된다. 
- _ 는 숫자 사이에 있어도 무시가 된다. 
    -예: 10,000 -> 10, 000 두개로 인식 / 10_000

In [ ]:
a = -9
8 + a

-1

In [ ]:
a = 09

In [ ]:
a = 10_000
print(a)

10000

#### 연산
- 연산자 |operator : +, -, ..
- 피연산자 |oprand : 4,5, ..
- 수식 | expression

In [ ]:
x = 4
y = 9

x + y
x - y
x * y
x / y

# 거듭제곱 |exponential
 x ** y

 나눗셈에서 주의할 사항

In [ ]:
#1. division by zero -> 주의 (y != 0)
#2. 몫, 나머지
x = 4
y = 9
x // y, x % y, x / y

(0, 4, 0.4444444444444444)

In [ ]:
divmod(x,y)

(0, 4)

#### 복합 대입연산자| compound assignment operator

In [ ]:
a = 5
a - 3
print(a)

5

In [ ]:
a = a - 3
#1. a-3 계산
#2. 임시변수 temp = a - 3
#3. a = a - 3
a -= 3

In [ ]:
a += 3
a -= 3
a *= 3
a /= 3

In [ ]:
u = u + 1 # u의 값 초기화할 것 주의

### Quiz(2). 
- 정수를 입력받고 3의 배수인지 확인하세요.
- =홀수인지 확인하세요.

In [ ]:
num = int(input())
num % 3 == 0

50

False

In [ ]:
num % 2 == 0

True

###조건문, if
- code structure

### 코드 짜는 룰
- 주석 다는 법
  - 설명하는 부분
  - 목적: 의도를 표현한다.
  - '#' hash, sharp, ...
  - 시작된 부분부터 그 라인에 끝까지가 주석이 된다.
  - 문자열 안에 들어있는 해시는 문자열로 인식
  - """<주석>"""
- 라인 유지하기
  - 들여쓰기, 공백 4개, 탭 1개
  - 한 줄에 최대 80자 넘지 않게
  - 백슬래시로 끊어준다. (\)

In [ ]:
a = 3 #여기서 라인 끝
b = 2

In [ ]:
example = 'hey ###'
print(example)
# 코드에는 영향을 끼치지 않음
"""
주석1
주석2
주석3
"""

hey ###

'\n주석1\n주석2\n주석3\n'

- 조건 1개
if <조건식>:
  <실행할 코드>

In [ ]:
if 4 == 9:
  print('Yaay!')

- 조건 2개:
  if <조건식1>:
    <실행할 코드>
  else:
    <실행할 코드>

In [ ]:
if 4 == 9:
  print('Yaay!')
else:
  print('Hey!')

Hey!

- 조건 3개 이상:
  if <조건식1>:
    <실행할 코드>
  elif <조건식2>:
    <실행할 코드2>
  . . . 
  else:
    <실행할 코드3>

#### 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y (값, 메모리 주소)
- x is not y

### Quiz1.
- 학점 부여하기
- 학점을 입력 받아서
  - 90점 이상이면 A
  - 80점 이상이면 B
  - 70점 이상이면 C
  - 그외는 D

In [ ]:
grade = int(input())
if grade >= 90:
  print("A")
elif 80 <= grade < 90:
  print("B")
elif 70 <= grade < 80:
  print("C")
else:
  print("D")

59
D

## Quiz 2.
- 아이디와 비번을 입력받아서 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [ ]:
id = 'jiwan'
pw = 1234

try_id = input()
try_pw = int(input())

if (id == try_id) and (pw == try_pw):
  print("로그인되었습니다.")
else:
  print("잘못 입력하였습니다.\n다시 시도해주세요.")

jiwan
1234
로그인되었습니다.

In [ ]:
id = 'jiwan'
pw = 1234

try_id = input("ID를 입력하세요: ")
try_pw = int(input("PW를 입력하세요: "))
absent = int(input("결석횟수를 입력하세요: "))

if (id == try_id) and (pw == try_pw):
  print("로그인됐습니다.")
else: 
  print("잘못입력했습니다.")

ID를 입력하세요: jiwan
PW를 입력하세요: 1234
결석횟수를 입력하세요: 5
로그인됐습니다.

#### 논리연산자
- 여러 조건식을 비교할 때
- 예: 10 < x < 20
  - 파이썬에서만 가능한 표현
   - x > 10 혹은 x < 20

- and, & : 둘다 참일 때 True
- or, \ : 둘 중 하나만 참이여도 True
- not : 참 -> False, 거짓 -> True

### Quiz 3. 
- quiz1 의 확장판
- 결석 횟수를 입력 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F , 나머지는 점수대로

In [ ]:
absent = int(input())
grade = int(input())
if grade >= 90:
  if absent >=2:
    score = 'F'
  else:
    score = 'A'
if grade >= 80:
  if absent >= 2:
    score = 'F'
  else:
    score = 'B'
elif grade >= 70:
  score = 'C'
elif grade >= 60:
  score = 'D'

print(f"당신의 학점은 {score}입니다.")

1
87
당신의 학점은 B입니다.

In [ ]:
grade = int(input("점수를 입력하세요: "))
absent = int(input("결석횟수를 입력하세요: "))

if grade >= 80:
  if absent >= 2:
    print("F")
  else:
    if grade >= 90:
      print("A")
    else: 
      print("B")
elif 80 <= grade < 90:
  print("B")
elif 70 <= grade < 80:
  print("C")
else:
  print("D")

점수를 입력하세요: 82
결석횟수를 입력하세요: 3
F